<!-- ejs for projects and issues details  -->
<link rel="stylesheet" href="/css/projectDetails.css" />

<body>
  <div id="main-container">
    <div id="project-details">
        <div id="title">
            <a href="/" ><i class="fa-solid fa-arrow-left"></i></a>
             <!-- code for showing project details -->
            <h2> <%=project.projectTitle %></h2>
        </div>
        <div id="description">
            <div>
                <p><span>Description</span> <%=project.description %></p>
                <a href="/projects/delete/<%=project._id%>"> <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> </button></a>
            </div>
            <div>
                <p><span>Author</span> <%=project.author %></p>
                <p><span>Creation Date</span> <%=project.createdAt %></p>
            </div>
            <div>
                <div></div>
                <!-- opening add issue form onclick event -->
                <div>
                    <button onclick="openAddProject()">Add Issue  <i class="fa-solid fa-circle-plus"></i></button>
                </div>
            </div>
        </div>
        <!-- calling create issue form as partial -->
        <%- include('_createIssue.ejs') %>
        <div id="issues-list">
                <!-- code for showing issue details -->
                <% for(let i = project.issues.length -1 ; i >= 0;i-- ) {%>
                    <% index = i+1 %>
                    <div class="issue-box">
                        <div class="issue-title">
                            <a href="/issues/delete/<%=project.issues[i]._id%>" class="btn btn-outline-danger float-end btn-xs btn-sm"><i class="fa-solid fa-trash"></i></a>
                            <%=index%>. <%=project.issues[i].issueTitle %>
                            <span class="labels">
                                <% if(project.issues[i].labels.length >0){%>
                                <% for (label of project.issues[i].labels) {%>
                                    <span><%=label%></span>
                                <%}}%>
                            </span>
                        </div>
                        <div class="description">
                            <%=project.issues[i].description %>
                            
                        </div>

                        <div class="author"><span>Author : </span> <%=project.issues[i].author %></div>
                    </div>
            <%}%>
            
            
           
        </div>
    </div>
  </div>

</body>
<!-- javascript for opening add project form -->
<script>
    function openAddProject(){
        document.getElementById("form-container").style.height = "auto";
        document.getElementById("form-container").style.width = "100%";
    }
</script>
